<% layout('/layouts/app') %>
 <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }
        h2 {
            color: #333;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
        td#image .image {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image a img {
            max-width: 25px;
            margin-left: 10px;
        }
        .image a img#control {
            max-width: 40px;
            margin-left: -3px;
        }
        .tanggal{
            margin-left: 25px;
        }
        .tanggal h4 {
            font-size: 3vh;
            font-weight: bold
        }
        .tanggal h4 span {
            font-weight:400;
        }

        table tr th {
            text-align: center;
        }
    </style>
<div style="margin-top: 125px;">


<h2 style="text-align: center;">Daftar Pasien Rawat Inap</h2>
<div class="tanggal">
    <h4 class="">Date: <span>Selasa, 25 Maret 2019</span></h4>
</div>

<table>
    <tr>
        <th>No</th>
        <th>No.Pendaftaran</th>
        <th>Nama</th>
        <th>Jenis <br> Kelamin</th>
        <th>Ruangan</th>
        <th>No. Kasur</th>
        <th>Tanggal<br>Masuk</th>
        <th>Jalur<br>Masuk</th>
        <th>Diagnosa</th>
        <th>Keterangan</th>
        <th>Status</th>
        <th>Aksi</th>
    </tr>
        <% for (let index = 0; index < pasienRawatInap.length; index++) { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= pasienRawatInap[index].noPendaftaran.noPendaftaran %></td>
            <td style="min-width: 200px;"><%= pasienRawatInap[index].nama %></td>
            <td><%= pasienRawatInap[index].jenisKelamin %></td>
            <td><%= pasienRawatInap[index].ruangan%></td>
            <td><%= pasienRawatInap[index].getMonthYearDateMasuk() %></td>
            <td><%= pasienRawatInap[index].tanggalKeluar %></td>
            <td><%= pasienRawatInap[index].keterangan %></td>
            
            <!-- Isilah kolom-kolom lain sesuai dengan properti pasien yang sesuai -->
            <td>
                <div class="image">
                    <a href=""><img src="https://res.cloudinary.com/ddrepuzxq/image/upload/v1702875116/simrs/image-removebg-preview_4_y1gwhd.png" alt="hapus"></a>
                    <a href="/isiDataPasienRawatInap/<%= pasienRawatInap[index]._id%>"><img src="https://res.cloudinary.com/ddrepuzxq/image/upload/v1702875219/simrs/image-removebg-preview_5_jysq26.png" alt="edit"></a>
                    <a href="/rawatinap/pasien/control"><img id="control" src="https://res.cloudinary.com/ddrepuzxq/image/upload/v1702932718/simrs/image-removebg-preview_6_lthg29.png" alt=""></a>   
                </div>
            </td>
        </tr>
    <% } %>

    <p> : <%= pasienRawatInap.noPendaftaran.nama %></p>
        <p> : <%= pasienRawatInap.diagnosa %></p>
        <a href="/rawatinap/detail/<%= pasienRawatInap._id %>">Lihat Detail</a>

</table>
</div>



